.navmenu {
    width: 100%;
    position: fixed;
    background: #fcfcfb;
    height: 56px;
    top: 0;
    left: 0;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
}

.navmenu__navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.navmenu__logo {
    margin-left: 0.5rem;
}

.navmenu__toggle-button {
    cursor: pointer;
    font-size: 1.2rem;
    /* display: none; */
}

.navmenu__logo a span {
    background: -webkit-linear-gradient(#3930d8, #5b8afa);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navmenu__logo a {
    color: rgb(58, 58, 58);
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
}

.navmenu__items ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navmenu__items li {
    padding: 0 0.5rem;
}

.navmenu__items a {
    text-decoration: none;
    color: #70706f;
}

.navmenu__items a:hover,
.navmenu__items a:active {
    color: #3930d8;
}

.spacer {
    flex: 1;
}

@media (max-width: 768px) {
    .navmenu__items {
        display: none;
    }
}

@media (min-width: 769px) {
    .navmenu__toggle-button {
        display: none;
    }

    .navmenu__logo {
        margin-left: 0;
    }
}